body {
  background: url("bg.jpg");
  margin: 0px;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  padding: 0;
}
.login {
  display: flex;
  margin: 0%;
  flex-direction: column;
  align-items: center;
}

.login-header {
  background: rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 16%;
  margin-top:1.8rem;
}
.login-header img {
  max-width: 100%;
  height: auto;
}
.login-form {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: inset 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.login-form h3 {
  text-align: left;
  padding-left: 20px;
  color: #fff;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 10%;
  margin: 5% auto;
}
* {
  margin: 0;
  padding: 0;
}



/* media queries */

@media screen and (max-width: 780px) {
  .wrapper {
    width: 180px;
  }
  .wrapper .btn {
    margin: 15px 0;
  }
}

.login input[type="text"],
.login input[type="password"] {
  line-height: 3em;
  font-family: "Ubuntu", sans-serif;
  margin: 1em 2em;
  border-radius: 5px;
  border: 2px solid #f2f2f2;
  outline: none;
  padding-left: 10px;
}
.login-form input[type="button"] {
  height: 30px;
  width: 100px;
  background: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  color: slategrey;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
}
.sign-up {
  color: #f2f2f2;
  margin-left: -70%;
  cursor: pointer;
  text-decoration: underline;
}
.no-access {
  color: #e86850;
  margin: 20px 0px 20px -57%;
  text-decoration: underline;
  cursor: pointer;
}
.try-again {
  color: #f2f2f2;
  text-decoration: underline;
  cursor: pointer;
}

/*Media Querie*/
@media only screen and (min-width: 150px) and (max-width: 530px) {
  .login-form h3 {
    text-align: center;
    margin: 0;
  }
  .sign-up,
  .no-access {
    margin: 10px 0;
  }
  .login-button {
    margin-bottom: 10px;
  }
}

/* Button stuff */
.wrapper {
  display: flex;
  justify-items: center;
}

button {
  width: 4rem;
  margin: 0 20px;
  padding: 15px 0;
  text-align: center;
  cursor: pointer;
  background:none;
  position: relative;
  border:none;
  color:slategray
}

 button.learn-more {
	 width: 12rem;
	 height: auto;
}
 button.learn-more .circle {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: relative;
	 display: block;
	 margin: 0;
	 width: 3rem;
	 height: 3rem;
	 background: #3223d3;
	 border-radius: 1.625rem;
}
 button.learn-more .circle .icon {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 margin: auto;
	 background: #fff;
}
 button.learn-more .circle .icon.arrow {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 left: 0.625rem;
	 width: 1.125rem;
	 height: 0.125rem;
	 background: none;
}
 button.learn-more .circle .icon.arrow::before {
	 position: absolute;
	 content: '';
	 top: -0.25rem;
	 right: 0.0625rem;
	 width: 0.625rem;
	 height: 0.625rem;
	 border-top: 0.125rem solid #fff;
	 border-right: 0.125rem solid #fff;
	 transform: rotate(45deg);
}

 button.learn-more .button-text {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 1rem;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 padding: 0.75rem 0;
	 margin: 0 0 0 1.85rem;
	 color: #282936;
	 font-weight: 700;
	 line-height: 1.6;
	 /* text-align: center; */
	 text-transform: uppercase;
}

 button:hover .circle {
	 width: 100%;
}
 button:hover .circle .icon.arrow {
	 background: #fff;
	 transform: translate(1rem, 0);
}
 button:hover .button-text {
	 color: #fff;
}
.push {
  margin-left:45px!important;
} 
.button-text:active{
  font-size: .8rem;
  text-shadow: #fff -5px 5px 2px;
}